<form>
    <input type="text" name="email" required>
    <button type="submit">ADD</button>
</form>

<script>
    $("form").submit(function(e){
        e.preventDefault();

        $.ajax({
            url: "./models/addMember.php",
            method: "POST",
            cache: false,
            data: $(this).serialize(),
            success: function(msg){
                console.log(msg);
                $("#div_content").load("./view/member.php");
            }
        });
    });
</script>